<a href="https://colab.research.google.com/github/RSeth-Creator/Data/blob/dataScience/NLP_S1_RegEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
nltk.download()
##nltk contains function, module, dataset which we need to download in our local setup for usage

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> u

Nothing to update.

---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

True

In [3]:
#pos_tag, tokenize used for the part of speech tagging and the iokenization purpose to 
#"convert the sentences in to stream of words"


# how to call different components from nltk 
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords.words('english')[0:500:25]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

['i', 'herself', 'been', 'with', 'here', 'very', 'doesn', 'won']

In [4]:
#Unstructured data -- binary data , no delimeters, no indication of rows, imgae  etc

**Importing the dataset using conventional way and pandas**

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
#Load the unstructure data it will not convert it into multiple column(attribute)
# It will take the file content as a long string 
rawData = open("drive/My Drive/SMSSpamCollection.tsv").read()
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [7]:
#Every time it when it will see '\t' it will replace with '\n' and after that it will split based on '\n'
parsedData  = rawData.replace('\t','\n').split('\n')
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [8]:
#Labelling the contenet of the imported file
labelList = parsedData[0::2] #it will take the starting from index 0 (col1) and take every 1st column value
textList = parsedData[1::2] # It will take the column 1 value for every row
print(labelList[0:5])
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [9]:
#Combine this two list for the analysis 
import pandas as pd 
fulCorpus = pd.DataFrame({
    'label': labelList[:-1],# here we are dropping the last row (no label preset for the same)
    'body_list': textList
})

fulCorpus.head()

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [10]:
#read the file using pandas 
dataset = pd.read_csv("drive/My Drive/SMSSpamCollection.tsv",sep = '\t', header = None)
dataset.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

**Exploring the datasets**

In [11]:
#Add column to the dataframe
dataset.columns = ['labels', 'body_text']
dataset.head()

  labels                                          body_text
0    ham  I've been searching for the right words to tha...
1   spam  Free entry in 2 a wkly comp to win FA Cup fina...
2    ham  Nah I don't think he goes to usf, he lives aro...
3    ham  Even my brother is not like to speak with me. ...
4    ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [12]:
#What is the shape of the dataset 
print("Input data has {} rows & {} columns". format(len(dataset),len(dataset.columns)))

Input data has5568 rows & 2 columns

In [18]:
#Filter out the number of label contains spam
print('The number of spam presen in the dataset ',len(dataset[dataset['labels']=='spam']))
print('The number of ham present in the dataset ',len(dataset[dataset['labels']=='ham']))

The number of spam presen in the dataset  746
The number of ham present in the dataset  4822

# Regular Expression

In [ ]:
# Regular Expression 
#Text string search for describing search pattern
#Search pattern for one character [a-z][A-Z]
# Seach for word or pattern   for more than one character '[a-z]+'
# To return the alphanumeric string '[a-z0-9]+'

In [2]:
re_test = 'This is a made up string to test 2 different regex methods'
re_test_messy = 'This      is a made up     string to test 2    different regex methods'
re_test_messy1 = 'This-is-a-made/up.string*to>>>>test----2""""""diferent~regex-methods'

In [3]:
import re

re.split() -- to tokenize the data based on white space('\s') & for Special character ('\W+')

In [7]:
print(re_test.split(' '))

['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'different', 'regex', 'methods']

In [16]:
#if we have one space after each word then we can use dingle space using '\s'
print(re.split('\s',re_test))

['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'different', 'regex', 'methods']

In [14]:
# If we have more than one space present in the string then we have to use '\s+' --
#S/s is based on whitespace
print(re.split('\s+',re_test_messy))

['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'different', 'regex', 'methods']

In [20]:
# Dealing with the special character -- W /w is based on words 
#'\W+' will try to find out non word/numeric  character  for the slpitting the string 
# + sign is use for multiple character in a string if we move the + sign then it can't be handle 
print(re.split('\W+',re_test_messy1))
print(re.split('\W+',re_test_messy))
print(re.split('\W+',re_test))

['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'diferent', 'regex', 'methods']
['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'different', 'regex', 'methods']
['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'different', 'regex', 'methods']

re.findall() --
'\S+' -- find the word except the whitespace 
'\w+'-- Find the word except the special character bold text

In [24]:
# If we have to findout single numbers from the string the '[0-9]'
print(re.findall(r'[0-9]',re_test))
#Reverse way for the above s-->S && W-->w will find the all words and characters from the string 
print(re.findall('\S+',re_test))
print(re.findall('\w+',re_test_messy))
print(re.findall('\w+',re_test_messy1))

['2']
['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'different', 'regex', 'methods']
['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'different', 'regex', 'methods']
['This', 'is', 'a', 'made', 'up', 'string', 'to', 'test', '2', 'diferent', 'regex', 'methods']

Replacing a specific string

In [34]:
pep8_test = 'I try to follow PEP8 guidelines'
pep7_test = 'I try to follow PEP7 guidelines'
peep8_test = 'I try to follow PEEP8 guidelines'

In [35]:
#Find all the word with lower character 
print(re.findall('[a-z]+',pep8_test))
#Find all the word with uper character 
print(re.findall('[A-Z]+',pep8_test))
# To find out the alplha numeric  words from the string '[A-Za-z]+[0-9]'
print(re.findall('[A-Za-z]+[0-9]',pep8_test))
#It will take all the word without the special character and space form the string 
print(re.findall('[A-Za-z0-9]+',pep8_test))

['try', 'to', 'follow', 'guidelines']
['I', 'PEP']
['PEP8']
['I', 'try', 'to', 'follow', 'PEP8', 'guidelines']

re.sub('[A-Za-z]+[0-9]+','New String','Target String')

In [37]:
# Replace the perticuler pattern or word with another string 
re.sub('[A-Za-z]+[0-9]+','PEP8 Python Style guide',pep8_test)
# Here it will find out the alphanumeric word and replace with the 'PEP8 Python Style guide'

'I try to follow PEP8 Python Style guide guidelines'

In [42]:
print(re.search('try',pep8_test))
print(re.search('[A-Za-z]+[0-9]',pep8_test))

<re.Match object; span=(2, 5), match='try'>
<re.Match object; span=(16, 20), match='PEP8'>

Pipeline

Raw Text --> Tokenize --> Clean text(Remove stop words, punctuation, Stemming, lemmatization) --> Vectorize(Convert to numeric form) --> Machine learning model