<a href="https://colab.research.google.com/github/RSeth-Creator/Data/blob/dataScience/PCA%20-Mathematical%20implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [108]:
 #importing file from the drive  
import numpy as np 
import pandas as pd 
df = pd.read_excel('/content/drive/My Drive/Copy of multiple regression-std.xlsx')
df = df[['Force','Power','Temperature','Time','Strength']]
#Get the summary of the data 
df.describe()

           Force       Power  Temperature       Time   Strength
count  30.000000   30.000000    30.000000  30.000000  30.000000
mean   35.000000   75.000000   200.000000  20.000000  38.406667
std     4.548588   13.645765    22.742941   4.548588   8.954403
min    25.000000   45.000000   150.000000  10.000000  22.700000
25%    30.000000   60.000000   175.000000  15.000000  34.675000
50%    35.000000   75.000000   200.000000  20.000000  38.600000
75%    40.000000   90.000000   225.000000  25.000000  42.700000
max    45.000000  105.000000   250.000000  30.000000  58.700000

In [109]:
#standardize the dataset
df_std = (df - df.mean())/df.std()

In [115]:
#Creating the covariance matrix from the standarized dataset(df_std)
df_cov = np.cov(df_std.T, bias = 0)
df_cov

array([[ 1.00000000e+00, -4.67614605e-18, -5.43601456e-18,
        -4.67614605e-18,  1.07520793e-01],
       [-4.67614605e-18,  1.00000000e+00, -1.30927251e-17,
        -1.23328566e-17,  7.59418516e-01],
       [-5.43601456e-18, -1.30927251e-17,  1.00000000e+00,
        -1.30927251e-17,  3.29335343e-01],
       [-4.67614605e-18, -1.23328566e-17, -1.30927251e-17,
         1.00000000e+00,  1.31226165e-01],
       [ 1.07520793e-01,  7.59418516e-01,  3.29335343e-01,
         1.31226165e-01,  1.00000000e+00]])

In [117]:
#Find out the eigen values and eigen vector 
eigen_val, eigen_vectors = np.linalg.eig(df_cov)

In [118]:
print(eigen_val)

[0.15503889 1.         1.84496111 1.         1.        ]

In [119]:
print(eigen_vectors)

[[-8.99789127e-02 -9.91870753e-01 -8.99789127e-02 -1.58071683e-03
  -1.24102382e-02]
 [-6.35520352e-01  1.15304197e-01 -6.35520352e-01 -3.81637140e-01
   3.35009963e-01]
 [-2.75604701e-01  5.00037153e-02 -2.75604701e-01  9.19203130e-01
  -4.35583346e-01]
 [-1.09816783e-01  1.99243596e-02 -1.09816783e-01 -9.70371092e-02
  -8.35392997e-01]
 [ 7.07106781e-01  7.97628633e-17 -7.07106781e-01  6.21669737e-17
  -4.78434288e-17]]

In [123]:
#Taking 2 eigrn values as per the difference
ev = eigen_vectors[:,:2]
ev

array([[-8.99789127e-02, -9.91870753e-01],
       [-6.35520352e-01,  1.15304197e-01],
       [-2.75604701e-01,  5.00037153e-02],
       [-1.09816783e-01,  1.99243596e-02],
       [ 7.07106781e-01,  7.97628633e-17]])

In [126]:
#Multiplication of standared matrix with the eigen vector of perticuler eigen values
transformed_data = np.matmul(np.array(df_std),ev)

In [127]:
#final principle component
pd.DataFrame(transformed_data)

           0             1
0   0.257241  8.866910e-01
1   0.067321 -1.293921e+00
2  -0.065983  1.140185e+00
3  -0.271697 -1.040427e+00
4   0.630525  9.966234e-01
5   0.187909 -1.183989e+00
6   0.038812  1.250118e+00
7  -1.027647 -9.304944e-01
8   0.047398  9.304944e-01
9  -0.403116 -1.250118e+00
10 -0.402174  1.183989e+00
11  0.466070 -9.966234e-01
12  0.460166  1.040427e+00
13 -0.306218 -1.140185e+00
14 -0.660630  1.293921e+00
15  0.168131 -8.866910e-01
16 -0.055405  2.180612e+00
17  0.472880 -2.180612e+00
18  0.156865 -2.534945e-01
19  0.205332  2.534945e-01
20  0.297413 -1.099324e-01
21 -0.164221  1.099324e-01
22  0.027692 -4.380339e-02
23  0.026533  4.380339e-02
24 -0.150565 -1.698396e-17
25 -0.063700 -7.185520e-18
26  0.149512  1.686519e-17
27  0.599627  6.763890e-17
28 -0.837582 -9.448068e-17
29  0.149512  1.686519e-17