<a href="https://colab.research.google.com/github/RSeth-Creator/Data/blob/dataScience/PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
#Dataframe
l1=[10,12,11,9,9,10,11,12,11,10,11,12]
l2=[100,	110,	105	,94,	95,	99,	104	,108,	105,	98,	103	,110]
df = pd.DataFrame(list(zip(l1, l2)),columns=['profit','sales'])
df.head()

   profit  sales
0      10    100
1      12    110
2      11    105
3       9     94
4       9     95

In [ ]:
#Calculating mean for two
m1 =np.mean(df['profit'])
m2 = np.mean(df['sales'])
print('mean values are ', m1,m2)

mean values are  10.666666666666666 102.58333333333333

In [ ]:
#Zero mean matrix
l3 = df['profit']-m1
l4= df['sales']-m2
df1=pd.DataFrame(list(zip(l3,l4)),columns=['z-profit','z_sales'])
df1.head()

   z-profit   z_sales
0 -0.666667 -2.583333
1  1.333333  7.416667
2  0.333333  2.416667
3 -1.666667 -8.583333
4 -1.666667 -7.583333

In [ ]:
#transpose of zero mean matrix
t_df1 = np.transpose(df1)
t_df1

                0         1         2   ...        9         10        11
z-profit -0.666667  1.333333  0.333333  ... -0.666667  0.333333  1.333333
z_sales  -2.583333  7.416667  2.416667  ... -4.583333  0.416667  7.416667

[2 rows x 12 columns]

In [ ]:
#Covariance matrix 
cov_mat = (np.dot(t_df1,df1))/(np.count_nonzero(df['profit'])-1)

In [ ]:
#calculate  eigen values
ev = np.linalg.eigvals(cov_mat)
print('eigen values are :', ev[0],',',ev[1] )

eigen values are : 0.028167051723023917 , 30.661226887670917

In [ ]:
#Calculate eigen vectors
evec = np.linalg.eig(cov_mat)
print('eigen value :',ev[0], ' corresponding eigen vector is : ', evec[0])
print('eigen value :',ev[1], ' corresponding eigen vector is : ', evec[1][0],',',evec[1][1])

eigen values are : [2.81670517e-02 3.06612269e+01] , [[-0.9814932  -0.19149701]
 [ 0.19149701 -0.9814932 ]]

In [ ]:
pc1 = np.dot(evec[1][0],t_df1)
pc2 = np.dot(evec[1][1],t_df1)
pc = pd.DataFrame(list(zip(pc1,pc2)),columns=['pc1','pc2'])
pc

         pc1       pc2
0   1.149029  2.407859
1  -2.728927 -7.024079
2  -0.789949 -2.308110
3   3.279505  8.105322
4   3.088008  7.123828
5   1.340526  3.389353
6  -0.598452 -1.326616
7  -2.345933 -5.061092
8  -0.789949 -2.308110
9   1.532023  4.370846
10 -0.406955 -0.345123
11 -2.728927 -7.024079