In [ ]:
!python --version

Python 3.7.10

In [ ]:
!pwd

/content

In [ ]:
#Download Spark from the Apache spark 
!wget https://mirrors.estointernet.in/apache/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz

--2021-03-15 19:00:22--  https://mirrors.estointernet.in/apache/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz
Resolving mirrors.estointernet.in (mirrors.estointernet.in)... 43.255.166.254, 2403:8940:3:1::f
Connecting to mirrors.estointernet.in (mirrors.estointernet.in)|43.255.166.254|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 224374704 (214M) [application/octet-stream]
Saving to: ‘spark-3.1.1-bin-hadoop2.7.tgz’

spark-3.1.1-bin-had 100%[===================>] 213.98M  13.7MB/s    in 17s

2021-03-15 19:00:40 (12.6 MB/s) - ‘spark-3.1.1-bin-hadoop2.7.tgz’ saved [224374704/224374704]

In [ ]:
#Extract .tgz file
!tar -xvzf spark-3.1.1-bin-hadoop2.7.tgz

In [ ]:
#Find out the contents in the spark folder 
!ls /content/spark-3.1.1-bin-hadoop2.7

bin   data	jars	    LICENSE   NOTICE  R		 RELEASE  yarn
conf  examples	kubernetes  licenses  python  README.md  sbin

In [ ]:
#Installing Spark in google colab
!pip install findspark

Collecting findspark
  Downloading https://files.pythonhosted.org/packages/fc/2d/2e39f9a023479ea798eed4351cd66f163ce61e00c717e03c37109f00c0f2/findspark-1.4.2-py2.py3-none-any.whl
Installing collected packages: findspark
Successfully installed findspark-1.4.2

In [ ]:
#Setting the SPARk_HOME 
import os
os.environ["SPARK_HOME"]="/content/spark-3.1.1-bin-hadoop2.7"

In [ ]:
#Creating pyspark importable 
import findspark
findspark.init()

In [ ]:
import pyspark

In [ ]:
#Creating the spark context by this we can create RDD
from pyspark import SparkContext
sc =SparkContext()

In [44]:
#Example to create RDD
data=[1,2,3,4]
rdd=sc.parallelize(data)
rdd.count()

4

In [ ]:
# Creating Spark Session which will  on top of Spark environment to run the spark code(data frame)
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("GC").getOrCreate()

In [ ]:
#Update version of spark in which we can see the dataframe concept 
df=spark.read.csv(header=True,path='/content/sample_data/california_housing_test.csv')

In [ ]:
df.show(5)

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
#ExternalRDD example 
p=sc.textFile('/content/sample_data/california_housing_test.csv')
p.first()

'"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"'

In [ ]:
#Map function example 
nums = sc.parallelize([1, 2, 3, 4])
squared = nums.map(lambda x: x * x).collect()
for num in squared:
 print(num)

1
4
9
16

In [ ]:
#Reduce function example
sum = rdd.reduce(lambda x, y: x + y)
print(um)

10